<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/party.css}" href="/static/css/party.css"/>
</head>
<body>
<h1>About me</h1>
<div th:replace="fragments/headerfooter :: header">Hier komt de header</div>
<p>This is all about me...</p>
<ol>
<li><p th:text="${myName}">Abdellah Dahmani</p></li>
<li><p th:text="${myCity}">Borgerhout</p></li>
<li><p th:text="${myStreet}">Appelstraat 47</p></li>
</ol>
<a th:href="@{/}">home</a>
<p th:text="'Ik ben ' + ${myName} +' en woon in '+ ${myStreet} + ' te ' + ${myCity}">zin</p>
</body>
<div th:replace="fragments/headerfooter :: footer">Hier komt de footer</div>
</html>