<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Venuelist</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/party.css}" href="/static/css/party.css"/>
</head>
<body>
<h1>Let's party!</h1>


<div class="navbuttons">
    <a class="buttonLook menuButton" th:href="@{/}">home</a>
    <a class="buttonLook menuButton" th:href="@{/venuedetails}">venues</a>
    <a class="buttonLook menuButton" th:href="@{/about}">about</a>
</div>
<h2>Venues</h2>
<a class="buttonLook menuButton" th:href="@{/}">venue 1</a>
<br>
<a class="buttonLook menuButton" th:href="@{/venuedetails}">venue 2</a>
<br>
<a class="buttonLook menuButton" th:href="@{/about}">venue 3</a>
</body>
</html>